@import "@fortawesome/fontawesome-free/css/all.css";


@tailwind base;
@tailwind components;
@tailwind utilities;


label {
    margin-bottom: 1vh;
    margin-top: 1vh;
}


.bgImage, .bgImageeq {
    padding:3vh;
    background-image: url("../../public/background-images/sssx.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.bgImageeq {
    background-image: url("../../public/background-images/sss2.jpg") !important;
    height:100vh !important;
}
