@import "@fortawesome/fontawesome-free/css/all.css";


@tailwind base;
@tailwind components;
@tailwind utilities;


label {
    margin-bottom: 1vh;
    margin-top: 1vh;
}


.sectionIndexEquipes {
    background-image: 'public/background-images/sssx.jpg';
    background-size: 100%;
    background-repeat: no-repeat;
}
